<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Residence Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //for-mobile-apps -->
    <link href="{{'css/bootstrap.css'|base_url}}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{'css/style.css'|base_url}}?v=3" rel="stylesheet" type="text/css" media="all"/>
    <!-- js -->
    <script src="{{'js/jquery-1.11.1.min.js'|base_url}}"></script>
    <!-- //js -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
</head>

<body>
<!-- banner -->
<div class="banner">
    <div class="container">
        <div class="header-nav">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <a class="navbar-brand" href="{{'qiukong/home'|base_url}}">秋空设计 <span class="logo-desc">温暖你的家</span></a>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{'qiukong/home'|base_url}}">首页</a></li>
                        <li><a href="{{'qiukong/about'|base_url}}">关于我们</a></li>
                        <li><a href="{{'qiukong/gallery'|base_url}}">图片展示</a></li>
                        <li><a href="{{'qiukong/contact'|base_url}}">联系我们</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div>
        <div class="banner-info">
            <h1>Lorem ipsum dolor sit amet, consectetur adipiscing</h1>
            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
                quam nihil molestiae consequatur.</p>
            <div class="more m1">
                <a href="single.html">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->