<style>
    .icon-font{
        font-size: 1.6rem;
        line-height: 1.6rem;
    }
    .icon-green{
        color: #62b900;
    }
</style>
<div class="weui_grids"  >
    <a href="{{'trouble/list'|base_url}}" class="weui_grid js_grid" >
        <div class="weui_grid_icon">
            <span class="icon icon-81 icon-font"></span>
        </div>
        <p class="weui_grid_label">
            反馈汇总
        </p>
    </a>
    <a href="{{'trouble/add'|base_url}}" class="weui_grid js_grid"  >
        <div class="weui_grid_icon">
            <span class="icon icon-78 icon-font"></span>
        </div>
        <p class="weui_grid_label">
            提交问题
        </p>
    </a>
    <a href="{{'trouble/contact'|base_url}}" class="weui_grid js_grid" >
        <div class="weui_grid_icon">
            <span class="icon icon-104 icon-font"></span>
        </div>
        <p class="weui_grid_label">
            联系物业
        </p>
    </a>
    <a href="javascript:;" class="weui_grid js_grid" >
        <div class="weui_grid_icon">
            <span class="icon icon-30 icon-font icon-green"></span>
        </div>
        <p class="weui_grid_label">
            竞选报名
        </p>
    </a>
    <a href="javascript:;" class="weui_grid js_grid" >
        <div class="weui_grid_icon">
            <span class="icon icon-1 icon-font icon-green"></span>
        </div>
        <p class="weui_grid_label">
            竞选投票
        </p>
    </a>
    <a href="{{'trouble/develop'|base_url}}" class="weui_grid js_grid" >
        <div class="weui_grid_icon">
            <span class="icon icon-14 icon-font icon-green"></span>
        </div>
        <p class="weui_grid_label">
            联系我
        </p>
    </a>
</div>
