<form id="imglist">
    <div class="weui_cells_title">随手在小区内发现的问题</div>
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <div class="weui_uploader">
                    <div class="weui_uploader_hd weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">上传您拍到的问题</div>
                    </div>
                    <div class="weui_uploader_bd">
                        <div class="weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">
                                <div class="weui_uploader">
                                    <div class="weui_uploader_bd">
                                        <ul class="weui_uploader_files" id='img2'>
                                        </ul>
                                        <div class="weui_uploader_input_wrp" id="file2">
                                            <input class="weui_uploader_input" type="file"
                                                   accept="image/jpg,image/jpeg,image/png,image/gif" id='headimgurl2'
                                                   multiple/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weui_progress" id="progress" style="display: none">
        <div class="weui_progress_bar">
            <div class="weui_progress_inner_bar js_progress" style="width: 0%;"></div>
        </div>
    </div>
    <div class="weui_cells_title">问题描述</div>
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <textarea id="textarea" name="desc" class="weui_textarea" placeholder="请描述您图片中所反映的问题" rows="3"></textarea>

                <div class="weui_textarea_counter"><span id='count'>0</span>/<span id='count_max'>100</span></div>
            </div>
        </div>
    </div>
</form>



<div class="weui_cells_tips">小区使我们的家,大家随手把看到的问题拍下来上传。(\(^o^)/~ 图片也可以不传的)</div>

<div class="weui_btn_area">
    <button class="weui_btn weui_btn_primary" id="formSubmitBtn">确定</button>
</div>

<script>
    $(function () {
        var max = $('#count_max').text();
        $('#textarea').on('input', function () {
            var text = $(this).val();
            var len = text.length;
            $('#count').text(len);
            if (len > max) {
                $(this).closest('.weui_cell').addClass('weui_cell_warn');
            }
            else {
                $(this).closest('.weui_cell').removeClass('weui_cell_warn');
            }
        });

        $("#formSubmitBtn").on("click", function () {
            $.post("{{'trouble/add'|base_url}}", $("#imglist").serializeArray(), function (res) {
                var result = JSON.parse(res);
                if(result.status)
                {
                    window.location.href ="{{'/'|base_url}}";
                }
                else
                {
                    $.toast(result.message, "cancel");
                }

            })

        });


        $('#headimgurl2').on("change", function (e) {
            var files = e.target.files;
            var len = files.length;
            for (var i = 0; i < len; i++) {
                lrz(files[i], {width: 640, fieldName: "file1"}).then(function (rst) {
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', "{{'trouble/upload'|base_url}}");

                    xhr.onload = function () {
                        if (xhr.status === 200) {
                            var obj = eval('(' + xhr.responseText + ')');
                            $('#img2').append('<li onclick="var delimg=$(this);$.confirm(\'您确定要删除吗?\', \'确认删除?\', function() {delimg.remove();},function(){$.toast(\'取消操作\', \'cancel\');});" class="weui_uploader_file weui_uploader_status" style="background-image:url(' + obj.src + '?x-oss-process=image/resize,m_pad,h_200,w_200)"><div class="weui_uploader_status_content"><i class="weui_icon_cancel"></i></div></li>');
                            $('#file2').append('<input value="' + obj.src + '"  type="hidden"  name="files" />');
                            $("#imglist")[0].reset();
                        } else {
                            // 处理其他情况
                        }
                    };

                    xhr.onerror = function () {
                        // 处理错误
                    };

                    xhr.upload.onprogress = function (e) {
                        // 上传进度
                        $("#progress").show();
                        var percentComplete = ((e.loaded / e.total) || 0) * 100;
                        $(".js_progress").css("width", percentComplete + "%");
                        if(percentComplete == 100)
                        {
                            $("#progress").hide();
                        }
                    };

                    // 添加参数
                    rst.formData.append('size', rst.fileLen);
                    rst.formData.append('base64', rst.base64);
                    // 触发上传
                    xhr.send(rst.formData);

                    return rst;
                })

                        .catch(function (err) {
                            alert(err);
                        })

                        .always(function () {// 不管是成功失败，这里都会执行
                        });
            }
        });
    })
</script>
