<div class="weui_panel weui_panel_access">
    <div class="weui_panel_hd">负责人</div>
    <div class="weui_panel_bd">
        <div class="weui_media_box weui_media_text">
            <h5 class="weui_media_title">物业办公室</h5>
            <!--<p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>-->
            <span class="icon icon-104" style="color: #62b900"></span>&nbsp;&nbsp;<a href="tel:021-67631172">021-67631172</a>
        </div>
        <!--<div class="weui_media_box weui_media_text">-->
        <!--<h4 class="weui_media_title">标题二</h4>-->
        <!--<p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>-->
        <!--</div>-->
    </div>
    <!--<a href="javascript:void(0);" class="weui_panel_ft">查看更多</a>-->
</div>
