<div class="weui_panel weui_panel_access">
    <div class="weui_panel_hd">联系开发者</div>
    <div class="weui_panel_bd">
        <div class="weui_media_box weui_media_text">
            <h4>微信</h4>
            <h4>
                <img src="{{'static/images/wechat.jpeg'|base_url}}" class="img-radius img-max">

            </h4>
            <div class="weui_media_box weui_media_text">
                <h4>企鹅</h4>
                <h4>
                    <img src="{{'static/images/qq.jpeg'|base_url}}" class="img-radius img-max">

                </h4>
            </div>
            <!--<div class="weui_media_box weui_media_text">-->
            <!--<h4 class="weui_media_title">标题二</h4>-->
            <!--<p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>-->
            <!--</div>-->
        </div>
    </div>
</div>
