<style>
    .media_box{
        margin-top: 15px;
        padding-bottom: 5px;
        font-size: 13px;
        color: #cecece;
        line-height: 1em;
        list-style: none;
        overflow: hidden;
    }
    .media_left{
        float: left;
    }
</style>
<div class="weui_panel weui_panel_access">
    <div class="weui_panel_hd">问题汇总</div>
    <div class="weui_panel_bd">
        {{foreach $list as $key => $item}}
        <a href="{{'trouble/show'|base_url}}?id={{$item.id}}" class="weui_media_box weui_media_appmsg weui_panel_ft">
            <div class="weui_media_hd">
                <img class="weui_media_appmsg_thumb" src="{{$item.files.0}}?x-oss-process=image/resize,m_pad,h_200,w_200" alt="">
            </div>
            <div class="weui_media_bd">
                <p class="weui_media_desc">{{$item.desc}}</p>
                <ul class="media_box">
                    <li class="media_left">{{$item.create_time}}</li>
                </ul>
            </div>
        </a>
        {{/foreach}}
    </div>
</div>
