<style>
    .timeline-item-success{
        padding: 0 0 0rem 1.2rem;
    }
    .padding-none{
        padding-top:0rem;
    }
</style>
<div class="weui-weixin">
    <div class="weui-weixin-ui">
        <!--页面开始-->
        <div class="weui-weixin-page">
            <div class="weui-weixin-info"><!--meta-->
                <span class="weui-weixin-em">发布</span>
                <em class="weui-weixin-em" >{{$info.create_time}}</em>
                <!--<a class="weui-weixin-a weui-weixin-nickname" href="javascript:void(0);" >占位</a>--> <span class="weui-weixin-read weui-weixin-em">
                    支持&nbsp;<i class="weui-weixin-zan"></i>
                    <span class="weui-weixin-num">0</span>
                </span>
            </div><!--meta结束-->
            <div class="weui-loadmore weui-loadmore-line">
                <span class="weui-loadmore-tips">该问题物业还未处理</span>
            </div>
            <!--<div class="timeline padding-none">-->
                <!--<ul>-->
                    <!--<li class="timeline-item">-->
                        <!--<div class="timeline-item-head">-->
                            <!--<i class="weui_icon weui_icon_success_no_circle timeline-item-checked hide"></i>-->
                        <!--</div>-->
                        <!--<div class="timeline-item-tail"></div>-->
                        <!--<div class="timeline-item-content">-->
                            <!--<h4>物业已确认,正在处理</h4>-->
                            <!--<p>2016-04-16 10:23:00</p>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="timeline-item">-->

                        <!--<div class="timeline-item-tail hide"></div>-->
                        <!--<div class="timeline-item-success">-->
                            <!--<h4 class="recent">已处理完成</h4>-->
                            <!--<p class="recent">2016-04-17 12:00:00</p>-->
                        <!--</div>-->
                        <!--<div class="timeline-item-head-first">-->
                            <!--<i class="weui_icon weui_icon_success_no_circle timeline-item-checked"></i>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <div class="weui-weixin-content"><!--内容-->
                <p>{{$info.desc}}</p>
            </div><!--内容结束-->
            {{foreach $info.files as $img}}
            <div class="weui-weixin-img"><!--图片开始-->
                <img src="{{$img}}">
            </div><!--图片结束-->
            {{/foreach}}

            <!--&lt;!&ndash;工具条&ndash;&gt;-->
            <!--<div class="weui-weixin-tools">-->
                <!--<div class="weui-weixin-read">支持<span class="weui-weixin-read"><i class="weui-weixin-zan"></i><span class="weui-weixin-num">0</span></span></div>-->
            <!--</div>-->
            <!--&lt;!&ndash;工具条结束&ndash;&gt;-->
            <script>
                $(function(){
                    $("img").addClass('weixin');
                    $('.weui-weixin-zan').click(function(){
                        if($(this).hasClass('zaned')){
                            $(this).removeClass('zaned');
                            var  val = $(this).next().html();
                            if(parseInt(val)==0){
                                var i=1;
                            }else{
                                var  i  =  parseInt(val)-1;
                            }
                            $(this).next().html(i);

                        }else{
                            $(this).addClass('zaned');
                            var  val = $(this).next().html();
                            $(this).next().html(parseInt(val)+1);
                            //ajax操作
                        }
                    });
                });
            </script>
        </div><!--页面结束-->
    </div>
</div>
