<form id="vote">
    <div class="weui_cells_title">参选人介绍</div>
    <div class="weui_cells weui_cells_form ">
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">姓名</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="text" name="name" placeholder="请输入姓名"/>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">单元号码:</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="text" name="unit" value="" id='d1' placeholder="请选择居住单元号码"/>
            </div>
        </div>
    </div>
    <div class="weui_cells_title">本人照片</div>
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_uploader_bd">
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <div class="weui_uploader">
                            <div class="weui_uploader_bd">
                                <ul class="weui_uploader_files" id='img2'>
                                </ul>
                                <div class="weui_uploader_input_wrp" id="file2">
                                    <input class="weui_uploader_input" type="file"
                                           accept="image/jpg,image/jpeg,image/png,image/gif" id='headimgurl2'
                                           multiple/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weui_cells_title">竞选宣言</div>
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <textarea id="textarea" name="slogan" class="weui_textarea" placeholder="请填写竞选宣言" rows="3"></textarea>
                <div class="weui_textarea_counter"><span id='count'>0</span>/<span id='count_max'>200</span></div>
            </div>
        </div>
    </div>
</form>
<div class="weui_btn_area">
    <button class="weui_btn weui_btn_primary" id="formSubmitBtn">提交</button>
</div>
<script>
    $("#d1").select({
        title: "选择居住单元",
        autoClose: true,
        items: [{{$no}}]}
    );
    $(function () {
        var max = $('#count_max').text();
        $('#textarea').on('input', function () {
            var text = $(this).val();
            var len = text.length;
            $('#count').text(len);
            if (len > max) {
                $(this).closest('.weui_cell').addClass('weui_cell_warn');
            }
            else {
                $(this).closest('.weui_cell').removeClass('weui_cell_warn');
            }
        });

        $("#formSubmitBtn").on("click", function () {
            $(this).attr("disabled", true);
            $.post("{{'vote/join'|base_url}}", $("#vote").serializeArray(), function (res) {
                $(this).attr("disabled", false);
                var result = JSON.parse(res);
                if (result.status) {
                    window.location.href = "{{'/'|base_url}}";
                }
                else {
                    $.toast(result.message, "cancel");
                }

            })

        });

        function loadfile(files, i) {
            var len = files.length;
            if (i >= len) {
                $.hideLoading();
                return;
            }
            lrz(files[i], {width: 640, fieldName: "file1"}).then(function (rst) {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', "{{'trouble/upload'|base_url}}");
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        var obj = eval('(' + xhr.responseText + ')');
                        $('#img2').append('<li class="weui_uploader_file weui_uploader_pic_list" style="background-image:url(' + obj.src + '?x-oss-process=image/resize,m_pad,h_200,w_200)"></li>');
                        $('#file2').append('<input value="' + obj.src + '"  type="hidden"  name="files[]" />');
                    }
                };
                xhr.onloadend = function () {
                    i++;
                    loadfile(files, i);
                };

                xhr.onerror = function () {
                    // 处理错误
                };
                xhr.upload.onprogress = function (e) {
                    // 上传进度
                    $("#progress").show();
                    var percentComplete = ((e.loaded / e.total) || 0) * 100;
                    $(".js_progress").css("width", percentComplete + "%");
                    if (percentComplete == 100) {
                        $("#progress").hide();
                    }
                };
                // 添加参数
                rst.formData.append('size', rst.fileLen);
                rst.formData.append('base64', rst.base64);
                // 触发上传
                xhr.send(rst.formData);
                return rst;
            }).catch(function (err) {
                alert(err);
            }).always(function () {// 不管是成功失败，这里都会执行
            });
        }

        $('#headimgurl2').on("change", function (e) {
            var files = e.target.files;
            var len = files.length;
            $.showLoading();
            loadfile(files, 0);
        });
    })
</script>